/* Fonts */
@font-face {
    font-family: 'brandon-text-bold';
    src: url(fonts/brandonText_bold.otf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'brandon-text-black';
    src: url(fonts/brandonText_black.otf);
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'brandon-text-medium';
    src: url(fonts/brandonText_medium.otf);
    font-weight: normal;
    font-style: normal;
}

/* nav */
#home {
    padding-left:1.5em;
    cursor: pointer;
    text-decoration: none;
}

#tabs {
    display:flex;
    justify-content: flex-end;
}

@media (max-width:575px) {
    #home {
        justify-content: center;
        padding:0;
    }
    #tabs {
        justify-content:center;
        padding:0;
    }
}

#topNav {
    position:relative;
    background: #383a39;
    color:white;
    box-shadow:0 1px 20px rgba(56, 58, 57,.8);
}

#topNav .row {
    width:100vw;
    padding-bottom:.5em;
    padding-top:.5em;
}

#topNav #tabs img {
    width:22px;
    height:20px;
}

#botNav {
    position:rleative;
    background:#328a65;
    font-family: "brandon-text-bold";
    color:white;
    box-shadow:0 1px 20px rgba(56, 58, 57,.5);
}

#botNav h1 {
    font-size: 1.3em;
    padding:.5em 24px;
}

#tabs a, #tabs div{
    font-family: "brandon-text-medium";
    color:white;
    font-size:1em;
    letter-spacing: .5px;
}

#tabs a {
    margin-right:1em;
    margin-left:2em;
    text-decoration: none;
}

#tabs #loginBtn p {
    margin:0;
}

#tabs #loginBtn {
    cursor: pointer;
}

#tabs a:hover {
    color:#328a65;
    transition: color .1s;
}

#loginLogo span{
    width:1.5em;
    height:1.5em;
    margin-right:.5em;
    background-image: url(imgs/login_white.png)
}

#topNav img {
    width:1.5em;
    height:1.5em;
    margin-right:.5em;
}

#topNav h1 {
    font-family: "brandon-text-bold";
    font-size:1.5em;
    margin:0;
    color:white;
}
/* end of nav */
.form {
    margin-top: 5em;
    font-family: "brandon-text-medium";
    font-weight: normal;
}

#pic h1 {
    text-align:center;
    font-size:2em;
    font-family: "brandon-text-black";
    color:#383a39;
}

#pic img{
    margin-bottom:1.3em;
    max-width:13em;
}

#login {
    margin:1em;
}

#username, #password {
    margin-top:1em;
    box-shadow: .2px .2px 10px rgba(56, 58, 57,.3);
    outline: none;
    border: 1px solid #DDDDDD;
    width: 18em;
    border-radius: 15px;
    height: 2em;
    padding-left:1em;
}

#login {
    border-radius: 20px;
    width:7em;
    border:none;
    outline:none;
    padding:3px;
    background: #298963;
    color:white;
}

#login:hover {
    box-shadow:0 0 15px #298963;
    transition: all .3s;
}

