/* Fonts */
@font-face {
    font-family: 'brandon-text-bold';
    src: url(fonts/brandonText_bold.otf);
}

@font-face {
    font-family: 'brandon-text-black';
    src: url(fonts/brandonText_black.otf);
}

@font-face {
    font-family: 'brandon-text-medium';
    src: url(fonts/brandonText_medium.otf);
}

@font-face {
    font-family: 'brandon-text-regular';
    src:url(fonts/brandonText_regular.otf);
}

/* beginning of Top Nav */
#home {
    padding-left:1.5em;
    cursor: pointer;
    text-decoration: none;
}

#tabs {
    display:flex;
    justify-content: flex-end;
}

#topNav {
    position:relative;
    background: #383a39;
    color:white;
    box-shadow:0 1px 20px rgba(56, 58, 57,.8);
}

#topNav .row {
    width:100vw;
    padding-bottom:.5em;
    padding-top:.5em;
}

#topNav #tabs img {
    width:22px;
    height:20px;
}

#tabs a, #tabs div{
    font-family: "brandon-text-medium";
    color:white;
    font-size:1em;
    letter-spacing: .5px;
}

#tabs a {
    margin-right:1em;
    margin-left:2em;
    text-decoration: none;
}

#tabs #loginBtn p {
    margin:0;
    margin-left:.3em;
}

#tabs #loginBtn {
    cursor: pointer;
}

#tabs a:hover {
    color:#328a65;
    transition: color .1s;
}

#loginLogo span{
    width:1.5em;
    height:1.5em;
    margin-right:.5em;
    background-image: url(imgs/login_white.png)
}

#topNav img {
    width:1.5em;
    height:1.5em;
    margin-right:.5em;
}

#topNav h1 {
    font-family: "brandon-text-bold";
    font-size:1.5em;
    margin:0;
    color:white;
}
/* end of Top nav */
/* Beginning of bottom NavBar */
input {
    margin-top:1em;
    box-shadow: .2px .2px 10px rgba(56, 58, 57,.3);
    outline: none;
    border: 1px solid #DDDDDD;
    border-radius: 15px;
    width:23em;
    height: 2em;
    padding-left:1em;
}

#botNav button {
    background:none;
    outline:none;
    border:none;
    color:white;
    margin-left:1em;
}

input::placeholder {
    font-family: "brandon-text-medium";
}

#botNav form {
    padding:.7em 0em;
}

#botNav {
    position:rleative;
    background:#328a65;
    font-family: "brandon-text-bold";
    color:white;
    box-shadow:0 1px 20px rgba(56, 58, 57,.5);
}

#botNav h1 {
    font-size: 1.3em;
    padding:.5em 24px;
}
/* Main section */
table {
    font-family:"brandon-text-medium";
    width:90%;
    margin:1em;
    font-size: 1.1em;
}

table ul {
    list-style: disc inside none;
}

table td {
    color: #328a65;
    vertical-align: top;
}

.main {
    position: relative;
    margin-top:3em;
    margin-bottom:3em;
    margin-left:4em;
    max-width: 90%;
    height:auto;
    border:2px solid #328a65;
    border-radius: 25px;
}

.mainheader {
    width:100%;
    height: 4em;
    background:#D5E8E0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.mainheader h1{
    text-align: center;
    font-family:"brandon-text-bold";
    color:#328a65;
    font-size:1.8em;
}

.image img{
    max-width:90%;
    height:auto;
    margin:30px;
}

.detailsContent {
    padding-left: 1.5em;
    color:black;
}
/* end of Main */
/* Maps section */
.map {
    position: relative;
    margin:3em;
    max-width: 100%;
    border:1px solid grey;
    border-radius: 12px;
}

.mapheader {
    width:100%;
    height: 1.8em;
    background:#6B6B6B;
    border-top-left-radius: 10.5px;
    border-top-right-radius: 10.5px;
}

.map h1 {
    font-family: "brandon-text-bold";
    color: white;
    font-size: 1.1em;
    padding-left:1.6em;
    padding-top:.2em;
    margin:0;
}

.mapvisual img{
    max-width:100%;
    height: auto;
    background: red;
}

.coor {
    font-family: "brandon-text-medium";
    font-size: .9em;
    padding: .3em 1em;
    background:#f8f8f9;
    border-bottom-left-radius: 10.5px;
    border-bottom-right-radius: 10.5px;
}
/* End of maps section */
/* pubDetails */
    .pubDetails {
        position: relative;
        margin:3em;
        max-width: 100%;
        border:1px solid grey;
        border-radius: 12px;
        background:#f8f8f9;
    }
/* end of pubDetails */
@media (max-width:576px) {
    input {
        width:20em;
    }
    #home {
        justify-content: center;
        padding:0;
    }
    #tabs {
        justify-content:center;
        padding:0;
    }
}

@media (max-width:768px) {
    .main {
        position: relative;
        margin-top:3em;
        margin-left:2em;
        margin-right:2em;
        max-width: 90%;
        height:auto;
        border:2px solid #328a65;
        border-radius: 25px;
    }
}