/* Main Color : rgb(56, 138, 95) */

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html,
body {
    height: 100%;
}

td {
    word-break: break-all;
}

ul {
    list-style-position: inside;
}

* {
    padding: 0;
    margin: 0;
}

a,
a:link,
a:visited {
    text-decoration: none;
    color: white;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.atquery {
    max-width: 510px;
}

.flashed {
    width: 200px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

/* Navbar */
.navbar {
    position: relative;
    background: #323333;
    z-index: 3;
}

.navbar__container {
    display: flex;
    flex-direction: row;
    background: #323333;
    justify-content: space-between;
    padding: 15px 0;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

/* Navbar Logo */
.navbar__logocontainer {
    background: none;
}

.navbar__logocontainer a {
    display: flex;
    align-items: center;
    font-size: 24px;
}

.navbar__logo {
    height: 35px;
    width: 35px;
    margin-right: 8px;
}

.navbar__logotext {
    font-family: "BrandonText-Bold";
}

/* Navbar List */
.navbar__listcontainer {
    margin: auto 0;
}

.navbar__list {
    display: flex;
    list-style-type: none;
    font-family: "BrandonText-Medium";
    color: white;
    font-size: 21px;
}

.navbar__items a {
    display: flex;
    align-items: center;
    transition: color ease 0.2s;
}

.navbar__items a:hover {
    color: #388a5f;
}

.navbar__items:not(:last-child) {
    padding-right: 20px;
}

.navbar__items a i {
    padding-right: 4px;
}

/* Navtag*/
.navtag {
    background: #388a5f;
    box-shadow: 2px -21px 20px 12px #000000;
}

.navtag__container {
    padding: 20px 0;
    z-index: 2;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.navtag__header {
    color: white;
    font-family: "BrandonText-Medium";
    text-align: center;
    font-weight: normal !important;
}

.navtag__searchcontainer {
    display: flex;
}

.navtag__search {
    display: flex;
    justify-content: space-between;
    background: white;
    border-radius: 50px;
    padding: 0 6px;
    flex-basis: 40%;
    min-width: 222px;
}

.navtag__searchoptiontoggle {
    display: block;
}

.navtag__searchoption {
    display: flex;
    align-items: center;
}

.navtag__searchoption label {
    font-family: "BrandonText-Medium";
    font-weight: normal;
    font-size: 22px;
    color: white;
    margin: 0 5px 0 20px;
    position: relative;
}

.navtag__searchoption label::after {
    font-family: "material icons";
    position: absolute;
    top: 50%;
    transform: translateY(-45%);
    font-size: 36px;
}

.down::after {
    content: "arrow_drop_down";
}

.up::after {
    content: "arrow_drop_up";
}

.navtag__options {
    color: white;
    font-family: "BrandonText-Regular";
    font-weight: normal;
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
    transition: all 0.2s ease;
}

#navtag__searchoptiontoggle:checked ~ .navtag__options {
    max-height: 100%;
    overflow: inherit;
    margin-top: 20px;
    opacity: 1;
}

#navtag__searchoptiontoggle {
    display: none;
}

/* Landing Content */
.landing__container {
    margin: 30px auto;
    width: 1200px;
    display: flex;
    flex-direction: column;
}

.landing__imagecontainer {
    margin: 0 auto;
    height: 230px;
    width: 230px;
    padding: 70px 0 50px 0;
}

.landing__image {
    width: 100%;
    height: 100%;
}

.landing__formcontainer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.landing__formcontainer > * {
    width: 90%;
    margin: 0px auto;
}

.landing__search {
    display: flex;
    justify-content: space-between;
    background: white;
    border-radius: 50px;
    border: 4px solid #388a5f;
    padding: 0 6px;
    transition: box-shadow 200ms ease;
    margin-bottom: 10px;
}

.landing__search:focus-within {
    box-shadow: 0px 0px 8px -2px rgb(56, 138, 95);
}

.landing__searchinput {
    flex-grow: 1;
    border: none;
    padding: 0 14px;
    background: transparent;
    outline: none;
    font-family: "BrandonText-Regular";
    font-size: 16px;
}

.landing__searchbutton {
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background: transparent;
    color: #323333;
    cursor: pointer;
    position: relative;
}

.landing__searchbutton i {
    position: absolute;
    right: 12px;
    bottom: 50%;
    transform: translateY(50%);
}

.landing__radio::before {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: white;
    content: "";
    margin-right: 8px;
    padding: 5px;
    border-radius: 4px;
    box-shadow: inset 0px 0px 8px -3px rgba(0, 0, 0, 0.75);
    transition: background 0.1s ease;
    transform: translateY(25%);
    cursor: pointer;
}

.navtag__radio::before {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: white;
    content: "";
    margin-right: 8px;
    padding: 5px;
    border-radius: 4px;
    box-shadow: inset 0px 0px 8px -3px rgba(0, 0, 0, 0.75);
    transition: background 0.1s ease;
    transform: translateY(25%);
    cursor: pointer;
}

.landing__radiocontainer input[type="radio"]:checked ~ .landing__radio::before {
    background: #388a5f;
}

.landing__radiocontainer {
    width: 140px;
}

.landing__radiocontainer input[type="radio"] {
    display: none;
}

.navtag__radiocontainer {
    margin-right: 15px;
}

.navtag__radiocontainer input[type="radio"] {
    display: none;
}

.navtag__radiocontainer input[type="radio"]:checked ~ .navtag__radio::before {
    background: #696969;
}

.landing__radio {
    cursor: pointer;
}

.landing__filterby {
    display: flex;
    flex-direction: column;
    font-family: "BrandonText-Medium";
    justify-content: space-between;
}

.navtag__filterby {
    display: flex;
    flex-direction: column;
    font-family: "BrandonText-Regular";
    justify-content: space-between;
}

.navtag__filterby h5 {
    font-size: 20px;
    font-family: "BrandonText-Medium";
    font-weight: normal;
}

.landing__filterby h5 {
    font-weight: normal;
    font-size: 20px;
}

.landing__radiogroup {
    display: flex;
    flex-flow: row wrap;
    margin: 10px 0;
    font-family: "BrandonText-Regular";
}

.landing__searchoptions {
    display: flex;
    flex-direction: column;
    font-family: "BrandonText-Medium";
}

.landing__searchoptions h5 {
    font-weight: normal;
    font-size: 20px;
}

.landing__dropdowncontainer {
    background: #fbfbfb;
    border-radius: 8px;
    position: relative;
    padding: 17px 0;
    margin: 10px 0;
    box-shadow: 0px 0px 8px -5px #000;
    font-family: "BrandonText-Regular";
}

.landing__dropdowncontainer:after {
    content: "arrow_drop_down";
    font-family: "material icons";
    color: #388a5f;
    font-size: 24px;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(50%, -50%);
    pointer-events: none;
}

.landing__dropdown {
    background: transparent;
    border: none;
    width: 95%;
    outline: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-family: "BrandonText-Regular";
    font-size: 16px;
}

.login__container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 132px);
    justify-content: center;
    align-items: center;
}

.login__container > * {
    margin-bottom: 20px;
}

.login__formcontainer > * {
    margin-bottom: 10px;
}

.login__formcontainer button {
    align-self: flex-start;
    padding: 7px 25px;
    margin: 0 auto;
    background: #388a5f;
    border: none;
    border-radius:20px;
    color: white;
    font-family: "BrandonText-Medium";
    font-size: 1.3em;
    cursor: pointer;
}

.login__form {
    border: 1px gray solid;
    padding: 5px 10px;
    border-radius: 20px;
}

.login__form input {
    border: none;
    background: none;
    min-height:2.2em;
    min-width:20em;
    outline:none;
    font-size:.9em;
}

.login__form input::placeholder {
    font-family: "BrandonText-Regular";
    font-size:1.3em;
}


.login__logoimg {
    height: 208px;
}

.login__formcontainer {
    display: flex;
    flex-direction: column;
}

.species {
    min-height: calc(100vh - 145px);
}

.species__container {
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    height: 100%;
}

.species__container > * {
    flex: 48%;
    margin: 50px 20px;
}

.species__card {
    border: 2px rgb(56, 138, 95) solid;
    border-radius: 10px;
}

.species__cardheader {
    text-align: center;
    font-family: "BrandonText-Medium";
    font-weight: normal;
    font-size: 1.8em;
    color: #328a65;
    background: #d5e8e0;
    position: relative;
    padding: 0.2em 0;
    z-index: -1;
}

.species__cardimagecontainer {
    width: 100%;
    height: 300px;
}

.species__cardimage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.species__cardinfo {
    padding: 1em 0;
    font-family: "BrandonText-Regular";
    font-size: 1.2em;
}

.species__cardinfo table {
    display: block;
    width: 90%;
    margin: 0 auto;
    border-spacing: 0 0.4em;
}

.species__cardinfo table tr td {
    vertical-align: top;
}

.species__cardinfo table tr td:first-child {
    color: #388a5f;
    font-family: "BrandonText-Medium";
    width: 150px;
    display: inline-block;
}

.species__cardinfo table tr td:last-child {
    margin-left: 15px;
    display: block;
}

.species__map {
    border: 2px #665858 solid;
    border-radius: 10px;
    margin-bottom: 25px;
}

.species__mapheader {
    font-family: "BrandonText-Medium";
    font-weight: normal;
    font-size: 1.8em;
    color: white;
    background: #6b6b6b;
    position: relative;
    padding: 0.2em 0.8em;
    z-index: -1;
}

.species__mapcoord {
    padding: 0.2em 0.4em;
    font-family: "BrandonText-Medium";
}

.species__mapcoord span {
    font-family: "BrandonText-Regular";
}

.species__authinfo {
    padding: 1em 0;
    margin-bottom: 40px;
    background: #f8f8f9;
    border: 2px #665858 solid;
    border-radius: 10px;
    font-family: "BrandonText-Regular";
    font-size: 1.2em;
}

.species__authinfo table {
    display: block;
    width: 90%;
    margin: 0 auto;
    border-spacing: 0 0.4em;
}

.species__authinfo table tr td {
    vertical-align: top;
}

.species__authinfo a {
    color:black;
}

.species__authinfo table tr td:first-child {
    color: #388a5f;
    font-family: "BrandonText-Medium";
    display: inline-block;
    width: 175px;
}

.species__authinfo table tr td:last-child {
    margin-left: 15px;
    display: block;
}

.post__container {
    margin: 30px auto 40px auto;
    max-width: 1200px;
    width: 90%;
}

.post__container h1 {
    font-family: "BrandonText-Medium";
    font-weight: normal;
    margin-bottom: 5px;
}

.post__container > p {
    font-family: "BrandonText-Regular";
    font-size: 20px;
}

.post__args {
    margin-bottom: 10px;
    font-family: "BrandonText-Medium";
    font-size: 20px;
    margin-bottom: 5px;
}

.post__args ul li {
    display: inline-block;
    background: #388a5f;
    color: white;
    padding: 5px 20px;
    margin: 5px 5px 5px 0;
    border-radius:10px;
}

.btnGone {
    display:none;
}

.post__item {
    display: flex;
    margin-top: 20px;
    font-family: "BrandonText-Regular";
}

.post__itemcaption {
    margin-left: 20px;
}

.post__itemcaption h3 {
    font-size: 22px;
}

.post__itemcaption p {
    font-size: 18px;
}

.post__itemcaption a {
    display: block;
    width: 80px;
    color: white;
    background: #388a5f;
    padding: 5px;
    text-align: center;
    border-radius:10px;
}

.post__itemcaptionnew h3 {
    font-size: 22px;
}

.link_margin {
    padding-bottom: 5px !important;
    margin-top: 5px !important;
    padding-top: 5px !important;
    margin-bottom: 5px !important;
}

.post__itemcaptionnew p {
    font-size: 18px;
}

.post__itemcaptionnew a {
    display: block;
    color: white;
    background: #388a5f;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
}

.post__itemimage {
    width: calc(287px / 2);
    height: calc(249px / 2);
}

.post__divider {
    width: 100%;
    height: 1px;
    background: black;
    margin-top: 20px;
}

.post__divider:last-child {
    display: none;
}

.panel {
    display: grid;
    height: 100vh;
    grid-template-columns: 65px 135px repeat(5, 1fr);
    grid-template-rows: auto 5fr;
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.checked {
    background: lightgray;
}

.panel__nav {
    background: #323333;
    grid-row: 1/2;
}

.panel__contentcontainer {
    width: 90%;
    margin: 0 auto;
    max-width: 900px;
}

.panel__contentcontainer h1 {
    font-family: "BrandonText-Bold";
    font-weight: 100;
    margin-bottom: 20px;
}

.panel__contentcontainer p {
    font-family: "BrandonText-Regular";
}

.pactive {
    grid-column: 1/3;
}

.pnactive {
    grid-column: 1/2;
}

.cactive {
    grid-column: 3/8;
}

.cnactive {
    grid-column: 2/8;
}

.panel__content {
    margin: 30px auto;
}

.panel__content table {
    border:1px solid black;
    border-radius:15px;
}

.panel__content td {
    font-family: "BrandonText-Regular";
    font-size:1.3em;
    padding:15px;
}

.panel__sideitems {
    display: flex;
    align-items: center;
    padding: 20px;
    background: grey;
}

.panel__sideitems.active {
    background: lightgrey;
}

.panel__sidebar {
    grid-row: 1/3;
    background: #388a5f;
    position: sticky;
    font-family: "BrandonText-Medium";
    display: flex;
    flex-direction: column;
}

.panel__sidebar button {
    height: 65px;
    width: 65px;
    border: none;
    background: gray;
    align-self: flex-end;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel__sidebar ul {
    margin-top: 0px;
}

.panel__sidebar ul li > * {
    margin-left: 10px;
}

.panel__content form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size:1.3em;
}

.panel__formcontainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.panel__formlabel {
    font-family: "BrandonText-Regular";
}

.panel__formcontainer input {
    border: 1px gray solid;
    padding: 5px 10px;
    border-radius: 2px;
}

.panel__formcontainer > * {
    margin-bottom: 4px;
}

.panel__content form button {
    align-self: flex-start;
    padding: 5px 10px;
    font-family:"BrandonText-Regular";
    border-radius: 10px;
    border:none;
    font-size:1em;
    outline:none;
    cursor: pointer;
    background:rgb(56, 138, 95);
    box-shadow: 0 0 5px rgba(209, 209, 209, 0.5);
    color:white;
}

.panel__content form input, .panel__content select {
    font-family:"BrandonText-Regular";
    font-size:.9em;
    border-radius:5px;
}

li[data-tab-target="#profile"]:before {
    content: "person";
    font-family: "material icons";
    font-size: 24px;
}

li[data-tab-target="#organism"]:before {
    content: "collections";
    font-family: "material icons";
    font-size: 24px;
}

li[data-tab-target="#input"]:before {
    content: "add";
    font-family: "material icons";
    font-size: 24px;
}

li[data-tab-target="#newuser"]:before {
    content: "person_add";
    font-family: "material icons";
    font-size: 24px;
}

.none {
    display: none;
}

.hidden {
    visibility: hidden;
}

@media only screen and (max-width: 560px) {
    .navbar__container {
        flex-direction: column;
        justify-content: center;
    }

    .navbar__logocontainer {
        justify-content: center;
        display: flex;
        padding: 15px 0;
    }

    .navbar__list {
        justify-content: center;
    }

    .landing__imagecontainer {
        height: 180px;
        width: 180px;
        padding: 20px;
    }

    .navtag__searchcontainer {
        flex-direction: column;
    }

    .navtag__searchoption label {
        margin: 0 auto;
        transform: translateX(-18px);
    }

    .navtag__search {
        margin-bottom: 10px;
    }

    .login__container {
        height: calc(100vh - 219px);
    }

    .species__container {
        flex-direction: column;
    }

    .species__container > * {
        margin: 30px 0;
    }
}

@media only screen and (max-width: 990px) {
    .species__container {
        flex-direction: column;
    }

    .species__container > * {
        margin: 30px 0;
    }
}
