{% extends 'base.html' %}

{% block header %}{% endblock %}
{% block title %}User Panel{% endblock %}

{% block content %}
<div class="panel">
  <div class="panel__sidebar pnactive">
    <button>
      <i class="material-icons">menu</i>
    </button>
    <ul>
      <li data-tab-target="#profile" class="panel__sideitems active">
        <span class="hidden">My Profile</span>
      </li>
      <li data-tab-target="#organism" class="panel__sideitems">
        <span class="hidden">My Organism</span>
      </li>
      <li data-tab-target="#input" class="panel__sideitems">
        <span class="hidden">Input Data</span>
      </li>
      {% if params.isAdmin %}
      <li data-tab-target="#newuser" class="panel__sideitems">
        <span class="hidden">Add User</span>
      </li>
      {% endif %}
    </ul>
  </div>
  <div class="panel__nav cnactive">
    {% include '/modules/navigation.html' %}
  </div>
  <div class="panel__contentcontainer cnactive">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div id="organism" class="panel__content" data-tab-content>
      <h1>My organisms</h1>
      <p>You have {{ hits | length }} organism registered</p>
      {% for hit in hits %}
      <div class="post__item">
        {% if hit['hasImage'] == True %}
        <img class="post__itemimage" style="object-fit: cover;"
          src="{{ 'https://server1.inpel.id:888/images/{}{}'.format(hit['_id'],hit['imageExt']) }}" alt="">
        {% else %}
        <img class="post__itemimage" src="{{ url_for('static', filename='img/img__placeholder.png') }}" alt="">
        {% endif %}
        <div class="post__itemcaption">
          <h3><i>{{ hit['scientificName'] }}</i></h3>
          <p>{{ hit['commonName'] }}</p>
          <p>{{ hit['province'] }}</p>
          <a href="">Edit</a>
        </div>
      </div>
      <div class="post__divider"></div>
      {% endfor %}
    </div>

    <div id="profile" class="panel__content active" data-tab-content>
      <h1>Welcome back {{ params.fullname }}</h1>
      <p>Username : {{ params.username }}</p>
      <p>Email : {{ params.email }}</p>
      <p>Affiliation : {{ params.affiliation }}</p>
      {% if profile_form is defined %}
      <form method="post" action="/uploadProfile" enctype="multipart/form-data">
        {% for field in profile_form %}
        <div class="panel__formcontainer">
          <label class="panel__formlabel">{{ field.label }}</label>
          {{ field() }}
        </div>
        {% endfor %}
        <div class="panel__formcontainer">
          <input type="submit" value="Upload Your Profile" />
        </div>
      </form>
      {% endif %}
    </div>

    <div id="input" class="panel__content" data-tab-content>
      <h1>Add new organism</h1>
      <form method="POST" action="{{ back_url }}/dashboard" enctype="multipart/form-data">
        <div class="panel__formcontainer">
          <label class="panel__formlabel">Common Name</label>
          <input type="text" name="commonName" placeholder="Common name..">
        </div>
        <div class="panel__formcontainer">
          <label class="panel__formlabel">Scientific Name</label>
          <input type="text" name="scientificName" placeholder="Scientific name..">
        </div>
        <div class="panel__formcontainer">
          <label class="panel__formlabel">Upload Image</label>
          <input type="file" accept="image/*" name="species_image">
        </div>
        <div class="panel__formcontainer">
          <label class="panel__formlabel">Location</label>
          <input type="text" name="location" placeholder="Insert coordinates..">
          <input type="text" name="locationRadius" placeholder="Insert radius (km)..">
          <select name="province">
            <option value="" disabled selected>Select province</option>
            {% for loc in location %}
            <option value="{{ loc }}">{{ loc }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="panel__formcontainer">
          <label class="panel__formlabel">Extract Yield</label>
          <input type="text" name="extractYield" placeholder="Extract yield..">
        </div>
        <div class="panel__formcontainer">
          <label class="panel__formlabel">Phytochemical Content</label>
          <input type="text" name="phytochemicalContent" placeholder="Phytochemical content..">
        </div>
        <div class="panel__formcontainer">
          <label class="panel__formlabel">Metabolites</label>
          <input type="text" name="metabolomics" placeholder="Metabolomics..">
        </div>
        <div class="panel__formcontainer">
          <label class="panel__formlabel">BioAssay</label>
          <input type="text" name="bioassay" placeholder="BioAssay..">
        </div>
        <div class="panel__formcontainer">
          <label class="panel__formlabel">Research Paper</label>
          <input type="text" name="researchPapers" placeholder="Research Papers..">
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
    {% if params.isAdmin %}
    <div id="newuser" class="panel__content" data-tab-content>
      <h1>Add new user</h1>
      <form method="post" action="/addUser">
        {% for field in add_user_form %}
        <div class="panel__formcontainer">
          <label class="panel__formlabel">{{ field.label }}</label>
          {{ field() }}
        </div>
        {% endfor %}
        <input type="submit" value="Add User" />
      </form>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  let tabs = document.querySelectorAll('[data-tab-target]')
  let tabContents = document.querySelectorAll('[data-tab-content]')

  tabs.forEach(tab => {
    tab.addEventListener('click', () => {
      let target = document.querySelector(tab.dataset.tabTarget)

      tabContents.forEach(tabContent => {
        tabContent.classList.remove('active')
      })
      tabs.forEach(tab => {
        tab.classList.remove('active')
      })

      target.classList.add('active')
      tab.classList.add('active')
    })
  })

  let navbutton = document.querySelector('.panel__sidebar button')
  let clicked = false
  navbutton.addEventListener('click', () => {
    let navpanel = document.querySelector('.panel__sidebar')
    let panelcontent = document.querySelector('.panel__contentcontainer')
    let panelnav = document.querySelector('.panel__nav')
    let panelitems = document.querySelectorAll('.panel__sidebar ul li')
    let button = document.querySelector('.panel__sidebar button i')

    clicked = !clicked
    if (clicked) {
      panelnav.classList.remove('cnactive')
      panelcontent.classList.remove('cnactive')
      navpanel.classList.remove('pnactive')
      panelnav.classList.add('cactive')
      panelcontent.classList.add('cactive')
      navpanel.classList.add('pactive')
      button.innerHTML = 'clear'

      panelitems.forEach(x => {
        p = x.querySelector('span')
        p.classList.remove('hidden')
        p.style.position = 'relative'
      })
    } else {
      panelnav.classList.remove('cactive')
      panelcontent.classList.remove('cactive')
      navpanel.classList.remove('pactive')
      panelnav.classList.add('cnactive')
      panelcontent.classList.add('cnactive')
      navpanel.classList.add('pnactive')
      button.innerHTML = 'menu'

      panelitems.forEach(x => {
        p = x.querySelector('span')
        p.classList.add('hidden')
        p.style.position = 'absolute'
      })
    }

  })
</script>
{% endblock %}