{% extends 'base.html' %}

{% block header %}{% endblock %}
{% block title %}{% endblock %}

{% block content %}
    {% include '/modules/navigation.html' %}
    {{ super() }}
    <div class="post">
        <div class="post__container">
            <h1>Showing results for:</h1>
            <div class="post__args">
                <ul>
                    {% for item in argslist %}
                        {% if item is not none and item%}
                            <li>{{item}}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            {% if hits|length == 0 %}
                <p>No results found!</p>
            {% else %}
                <p>{{ hits|length }} results</p>
                {% for hit in hits %}
                <div class="post__item">
                    <img class="post__itemimage" src="{{url_for('static', filename='img/img__placeholder.png')}}" alt="">
                    <div class="post__itemcaption">
                        <h3><i>{{hit['scientificName']}}</i></h3>
                        <p>{{hit['commonName']}}</p>
                        <p>{{hit['province']}}</p>
                        <a href="">View more</a>
                    </div>
                </div>
                <div class="post__divider"></div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block navtag %}
    <form action="/query">
        <div class="navtag__searchcontainer">
            <div class="navtag__search">
                <input class="landing__searchinput" name="query" type="text" placeholder="Search">
                <button class="landing__searchbutton"><i class="material-icons">search</i></button>
            </div>
            <div class="navtag__searchoption">
                <label class="unselectable" for="navtag__searchoptiontoggle">Search options</label>
            </div>
        </div>
        <input type="checkbox" id="navtag__searchoptiontoggle">
        <div class="navtag__options">
            <div class="navtag__filterby">
                <h5>Search by : </h5>
                <div class="landing__radiogroup">
                    <div class="navtag__radiocontainer">
                        <input type="radio" name="filterby" value="Any type" id="Any type" checked>
                        <label for="Any type" class="navtag__radio">Any type</label>
                    </div>
                    <div class="navtag__radiocontainer">
                        <input type="radio" name="filterby" value="Metabolite" id="Metabolite">
                        <label for="Metabolite" class="navtag__radio">Metabolite</label>
                    </div>
                        <div class="navtag__radiocontainer">
                            <input type="radio" name="filterby" value="Common name" id="Common name">
                            <label for="Common name" class="navtag__radio">Common name</label>
                    </div>
                    <div class="navtag__radiocontainer">
                        <input type="radio" name="filterby" value="Scientific name" id="Scientific name">
                        <label for="Scientific name" class="navtag__radio">Scientific name</label>
                    </div>
                </div>
            </div>
            <div class="landing__searchoptions">
                <h5>Filter by location: </h5>
                <div class="landing__dropdowncontainer atquery">
                    <select name="location" class="landing__dropdown">
                        <option value="" disabled selected>Select province</option>
                        {% for loc in location %}
                            <option value="{{loc}}">{{loc}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="landing__searchoptions">
                <h5>Filter by phytochemicals: </h5>
                <div class="landing__dropdowncontainer atquery">
                    <select name="phyto" class="landing__dropdown">
                        <option value="" disabled selected>Select phytochemical</option>
                        {% for py in phyto %}
                            <option value="{{py[0]}}">{{py[0]}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block scripts %}{% endblock %}
