{% extends 'base.html' %}

{% block header %}{% endblock %}
{% block title %}{% endblock %}

{% block navtag %}
<form action="/query">
    <div class="navtag__searchcontainer">
        <div class="navtag__search">
            <input class="landing__searchinput" name="query" type="text" placeholder="Search">
            <button class="landing__searchbutton"><i class="material-icons">search</i></button>
        </div>
        <div class="navtag__searchoption">
            <label class="navtag__optionlabel unselectable down" for="navtag__searchoptiontoggle">Search
                options</label>
        </div>
    </div>
    <input type="checkbox" id="navtag__searchoptiontoggle">
    <div class="navtag__options">
        <div class="navtag__filterby">
            <h5>Search by : </h5>
            <div class="landing__radiogroup">
                <div class="navtag__radiocontainer">
                    <input type="radio" name="filterby" value="Any type" id="Any type" checked>
                    <label for="Any type" class="navtag__radio">Any type</label>
                </div>
                <div class="navtag__radiocontainer">
                    <input type="radio" name="filterby" value="Metabolite" id="Metabolite">
                    <label for="Metabolite" class="navtag__radio">Metabolite</label>
                </div>
                <div class="navtag__radiocontainer">
                    <input type="radio" name="filterby" value="Common name" id="Common name">
                    <label for="Common name" class="navtag__radio">Common name</label>
                </div>
                <div class="navtag__radiocontainer">
                    <input type="radio" name="filterby" value="Scientific name" id="Scientific name">
                    <label for="Scientific name" class="navtag__radio">Scientific name</label>
                </div>
            </div>
        </div>
        <div class="landing__searchoptions">
            <h5>Filter by location: </h5>
            <div class="landing__dropdowncontainer atquery">
                <select name="location" class="landing__dropdown">
                    <option value="" disabled selected>Select province</option>
                    {% for loc in location %}
                    <option value="{{ loc }}">{{ loc }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="landing__searchoptions">
            <h5>Filter by phytochemicals: </h5>
            <div class="landing__dropdowncontainer atquery">
                <select name="phyto" class="landing__dropdown">
                    <option value="" disabled selected>Select phytochemical</option>
                    {% for py in phyto %}
                    <option value="{{ py[0] }}">{{ py[0] }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block content %}
{% include '/modules/navigation.html' %}
{{ super() }}
<div class="species">
    <div class="species__container">
        <div class="species__right">
            <div class="species__card">
                <h1 class="species__cardheader">Species Name</h1>
                <div class="species__cardimagecontainer">
                    <img class="species__cardimage" src="{{ 'https://server1.inpel.id:888/images/{}{}'.format(species['_id'],species['imageExt']) }}" alt="">
                </div>
                <div class="species__cardinfo">
                    <table>
                        <tr>
                            <td>Scientific Name</td>
                            <td>:</td>
                            <td>Bla eheh</td>
                        </tr>
                        <tr>
                            <td>Other Names</td>
                            <td>:</td>
                            <td>Bahlul123</td>
                        </tr>
                        <tr>
                            <td>Phytochemical <br /> Content</td>
                            <td>:</td>
                            <td>Bahlul123</td>
                        </tr>
                        <tr>
                            <td>Bioassay</td>
                            <td>:</td>
                            <td>Bahlul123</td>
                        </tr>
                        <tr>
                            <td>Metabolites</td>
                            <td>:</td>
                            <td>Bahlul123</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="species__left">
            <h1>test</h1>
        </div>
    </div>
</div>
<!-- <div class="post">
    <div class="post__container">
        {% if not species %}
        <p>No results found!</p>
        {% else %}
        <div class="post__item">
            {% if species['hasImage'] == True %}
            <img class="post__itemimage" style="object-fit: cover;" src="{{ 'https://server1.inpel.id:888/images/{}{}'.format(species['_id'],species['imageExt']) }}" alt="">
            {% else %}
            <img class="post__itemimage" src="{{ url_for('static', filename='img/img__placeholder.png') }}" alt="">
            {% endif %}
            <div class="post__itemcaption">
                <h3><i>{{ species['scientificName'] }}</i></h3>
                <p>{{ species['commonName'] }}</p>
                <p>{{ species['province'] }}</p>
            </div>
        </div>
        <div class="post__itemcaptionnew" style="font-family: BrandonText-Regular">
            <p><strong>Researcher</strong></p>
            <p><strong>{{ species['researcherName'] }}</strong> of {{ species['researcherAffiliate'] }}</p>
            <a href="{{ species['researcherProfile'] }}">Open Researcher Profile </a>
            <p><strong>Research:</strong></p>
            <a href="{{ species['metabolomics'] }}" class="link_margin">Metabolomics </a>
            <a href="{{ species['bioassay'] }}" class="link_margin">Bioassay </a>
            <a href="{{ species['researchPapers'] }}" class="link_margin">Other Research Paper </a>
            <p><strong>Location:</strong></p>
        </div>
        <div id="map" style="height: 500px"></div>
        <div class="post__divider"></div>
        {% endif %}
    </div>
</div> -->
{% endblock %}


{% block scripts %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGBOE_MUQ-z4Z_sczlEwAUF2rNUSqisE8"></script>

<script src="{{ url_for('static', filename='js/gmap/gmaps.js') }}"></script>

<script>
  let drop = document.querySelector(".navtag__optionlabel")
  drop.addEventListener('click', () => {
    drop.classList.toggle('up')
  });
  const coord = "{{ species['location'] }}".split(',');

  (function () {
    let map = new GMaps({
      el: "#map",
      lat: coord[0],
      lng: coord[1],
      click: function (e) {
        console.log(e.latLng.lat());
      }
    })
    circle = map.drawCircle({
      lat: coord[0],
      lng: coord[1],
      radius: Number({{ species['locationRadius'] }}) * 1000,
      strokeColor: '#432070',
      strokeOpacity: 1,
      strokeWeight: 3,
      fillColor: '#432070',
      fillOpacity: 0.6
    });
  })();
</script>
{% endblock %}