{% extends 'base.html' %}

{% block header %}{% endblock %}
{% block title %}{% endblock %}

{% block navtag %}
<form action="/query">
    <div class="navtag__searchcontainer">
        <div class="navtag__search">
            <input class="landing__searchinput" name="query" type="text" placeholder="Search">
            <button class="landing__searchbutton"><i class="material-icons">search</i></button>
        </div>
        <div class="navtag__searchoption">
            <label class="navtag__optionlabel unselectable down" for="navtag__searchoptiontoggle">Search
                options</label>
        </div>
    </div>
    <input type="checkbox" id="navtag__searchoptiontoggle">
    <div class="navtag__options">
        <div class="navtag__filterby">
            <h5>Search by : </h5>
            <div class="landing__radiogroup">
                <div class="navtag__radiocontainer">
                    <input type="radio" name="filterby" value="Any type" id="Any type" checked>
                    <label for="Any type" class="navtag__radio">Any type</label>
                </div>
                <div class="navtag__radiocontainer">
                    <input type="radio" name="filterby" value="Metabolite" id="Metabolite">
                    <label for="Metabolite" class="navtag__radio">Metabolite</label>
                </div>
                <div class="navtag__radiocontainer">
                    <input type="radio" name="filterby" value="Common name" id="Common name">
                    <label for="Common name" class="navtag__radio">Common name</label>
                </div>
                <div class="navtag__radiocontainer">
                    <input type="radio" name="filterby" value="Scientific name" id="Scientific name">
                    <label for="Scientific name" class="navtag__radio">Scientific name</label>
                </div>
            </div>
        </div>
        <div class="landing__searchoptions">
            <h5>Filter by location: </h5>
            <div class="landing__dropdowncontainer atquery">
                <select name="location" class="landing__dropdown">
                    <option value="" disabled selected>Select province</option>
                    {% for loc in location %}
                    <option value="{{ loc }}">{{ loc }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="landing__searchoptions">
            <h5>Filter by phytochemicals: </h5>
            <div class="landing__dropdowncontainer atquery">
                <select name="phyto" class="landing__dropdown">
                    <option value="" disabled selected>Select phytochemical</option>
                    {% for py in phyto %}
                    <option value="{{ py }}">{{ py }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block content %}
{% include '/modules/navigation.html' %}
{{ super() }}
<div class="species">
    <div class="species__container">
        <div class="species__right">
            <div class="species__card">
                <h1 class="species__cardheader">{{ species['commonName'].split(',')[0] | title }}</h1>
                <div class="species__cardimagecontainer">
                    {% if species['hasImage'] == True %}
                    <img class="species__cardimage" src="{{ 'https://server1.inpel.id:888/images/{}{}'.format(species['_id'],species['imageExt']) }}" alt="">
                    {% else %}
                    <img class="species__cardimage" src="{{url_for('static', filename='img/img__placeholder.png')}}" alt="">
                    {% endif %}
                </div>
                <div class="species__cardinfo">
                    <table>
                        <tr>
                            <td>Scientific Name</td>
                            <td>:</td>
                            <td><i>{{ species['scientificName'] }}</i></td>
                        </tr>
                        <tr>
                            <td>Other Names</td>
                            <td>:</td>
                            <td>
                                <ul>
                                    {% for i in species['commonName'].split(',')[1:] %}
                                    <li>{{i}}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Phytochemical <br /> Content</td>
                            <td>:</td>
                            <td>
                                <ul>
                                    {% for i in species['phytochemicalContent'].split(',') %}
                                    <li>{{i}}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Bioassay</td>
                            <td>:</td>
                            <td>
                                <ul>
                                    {% for i in species['bioassay'].split(',') %}
                                    <li>{{i}}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Metabolites</td>
                            <td>:</td>
                            <td>
                                <ul>
                                    {% for i in species['metabolomics'].split(',') %}
                                    <li>{{i}}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="species__left">
            <div class="species__map">
                <h1 class="species__mapheader">
                    Location
                </h1>
                <div id="map" style="height: 350px;"></div>
                <p class="species__mapcoord">Coordinates: <span>{{ species['location'] }}</span> Radius: <span>{{ species['locationRadius'] }}</span></p>
            </div>
            <div class="species__authinfo">
                <table>
                    <tr>
                        <td>Publication</td>
                        <td>:</td>
                        <td>
                            <ul>
                                {% for link in species['researchPapers'].split(',') %}
                                <li><a href={{link}}>{{link}}</a></li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Researcher Name</td>
                        <td>:</td>
                        <td>{{ species['researcherName'] }}</td>
                    </tr>
                    <tr>
                        <td>Researcher Profile</td>
                        <td>:</td>
                        <td>{{ species['researcherProfile'] }}</td>
                    </tr>
                    <tr>
                        <td>Institution</td>
                        <td>:</td>
                        <td>{{ species['researcherAffiliate'] }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGBOE_MUQ-z4Z_sczlEwAUF2rNUSqisE8"></script>

<script src="{{ url_for('static', filename='js/gmap/gmaps.js') }}"></script>

<script>
  let drop = document.querySelector(".navtag__optionlabel")
  drop.addEventListener('click', () => {
    drop.classList.toggle('up')
  });
  const coord = "{{ species['location'] }}".split(',');

  (function () {
    let map = new GMaps({
      el: "#map",
      lat: coord[0],
      lng: coord[1],
      zoom: 13,
      click: function (e) {
        console.log(e.latLng.lat());
      }
    })
    circle = map.drawCircle({
      lat: coord[0],
      lng: coord[1],
      radius: Number({{ species['locationRadius'] }}) * 1000,
      strokeColor: '#432070',
      strokeOpacity: 1,
      strokeWeight: 3,
      fillColor: '#432070',
      fillOpacity: 0.6
    });
  })();
</script>
{% endblock %}